/*
 Theme Name: Werkstatt Child
 Theme URI:
 Description: Werkstatt Child Theme
 Author: Your Name
 Author URI: http://www.yourdomain.com/
 Template: werkstatt
 Version: 1.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags: Werkstatt Child Theme
*/

/*
You can start adding your own styles here. Use !important to overwrite styles if needed. */

/*-----------------------------------------------------------------------------------*/
/*	2.0 General Styles
/*-----------------------------------------------------------------------------------*/

h1.site-title {
	font-weight: normal;
}

/*-----------------------------------------------------------------------------------*/
/*	3.0 Header
/*-----------------------------------------------------------------------------------*/

.main-navigation ul li,
#site-navigation ul ul li a,
.overlay-btn {
	font-weight: normal;
}

body.logged-in #site-navigation {
	top: 30px;
}

/*-----------------------------------------------------------------------------------*/
/*	5.0 Blog Posts
/*-----------------------------------------------------------------------------------*/

.archive .entry-header {
	display: none;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.entry-edit:before {
	content: '';
}

.single .entry-thumbnail {
	position: relative;
}

.single .entry-thumbnail img,
.single .entry-thumbnail .zoom {
	width: auto;
	margin: 0 auto;
}

.home .entry-info {
	line-height: 1rem;
	font-size: 0.8rem;
	font-weight: bold;
	height: 1rem;
	width: 1rem;
	border-radius: 0.5rem;
	border: 1px solid #000;
	position: absolute;
	top: -2rem;
	left: calc(75% + 1rem);
	cursor: pointer;
	text-align: center;
}

.home .entry-header h2.entry-title, .home .entry-header h1.entry-title {
	text-align: center;
}

.entry-title {
	font-weight: 400;
}

.entry-details {
	font-weight: 200;
}

.screen-reader-text {
	left: -9999em;
}

/* fix to take back visual preference with intro texts that are 'higher' than the images. */
.home #scroll-left-btn {
	z-index: 101;
}

.home .hentry img {
	margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*	5.1 Gutenberg Blocks
/*-----------------------------------------------------------------------------------*/

.wp-block-media-text {
	margin-bottom: 2em;
	align-items: start;
}

.entry-content input[type=submit] {
	border-left: 1px solid #000;
	float: none;
}

/*-----------------------------------------------------------------------------------*/
/*	9.1 Social Icon Menu
/*-----------------------------------------------------------------------------------*/

.social-nav ul li a {
	font: normal 19px/1 'Genericons_Merelellen';
}

.social-nav ul li a::before {
	font: normal 19px/1 'Genericons_Merelellen';
}

.social-nav ul li a[href*="ello.co"]::before {content: "\f518"; }
.social-nav ul li a[href*="facebook.com"]::before {content: "\f203";}
.social-nav ul li a[href*="instagram.com"]::before {content: "\f215";}
.social-nav ul li a[href*="newsletter"]::before {content: "\f519";}

/*-----------------------------------------------------------------------------------*/
/*	12 Media Queries
/*-----------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
	.wp-block-media-text {
		display: block;
	}
	.wp-block-media-text .wp-block-media-text__content {
		padding: 0;
		margin-top: 0.5em;
	}
}

@media screen and (min-width: 1025px) {
	#site-branding {
		top: 0.5rem;
	}
	.home #site-branding {
		top: 1rem;
	}

	#site-navigation {
		padding: 1rem 0;
	}

	#overlay-open {
		display: none;
	}

	#site-navigation ul ul.sub-menu {
		top: 2rem;
	}

	.home #masthead {
		height: auto;
	}
	.home #primary, 
	.home.paged #primary {
		margin-left: 0;
		padding-top: 2rem;
	}

	.home .wrap {
		padding-top: 4.125rem;
	}

	.home .hentry {
		position: relative;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
		z-index: 1;
		width: 100vw;
	}

	.home .entry-header h2.entry-title, .home .entry-header h1.entry-title {
		text-align: left;
	}

	.home .hentry .entry-thumbnail {
		margin-right: 0;
	}
	.home .hentry .entry-thumbnail img {
		/* this way, the info panel doesn't overlap */
		max-width: 50vw;
		margin: 0 auto;
	}

	/* --- Info Panel --- */
	.home .hentry .entry-header {
		display: none;
		background: #fff;
		position: absolute;
		left: inherit;
		top: 0;
		right: 0;
		width: 25vw;
	}

	/* --- Font Sizes --- */
	h1.site-title,
	h1.entry-title,
	.overlay-btn,
	.entry-content h1,
	#site-navigation ul {
		font-size: 21px;
		font-size: 1.3125rem;
	}

	.single-post .entry-header {
		padding-bottom: 20px;
	}

	.single .entry-thumbnail img,
	.single .entry-thumbnail .zoom {
		max-width: 50vw;
	}

	.single-post #primary,
	.archive #primary,
	.page #primary {
		padding-top: 5rem;
	}

	.archive-header {
		padding: 0 0 2rem;
	}
}